@font-face {
  font-family: 'proLight';
  src:url('/fonts/BlambotFXProLightBB.woff')
}

@font-face {
  font-family: 'proHeavy';
  src:url('/fonts/BlambotFXProHeavyLowerCapsBB.woff')
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  width: auto;
}


.proLightFont { font-family: 'prolight'}
.proHeavyFont { font-family: 'proHeavy'}