@font-face {
  font-family: 'proLight';
  src:url('/fonts/BlambotFXProLightBB.woff')
}

@font-face {
  font-family: 'proHeavy';
  src:url('/fonts/BlambotFXProHeavyLowerCapsBB.woff')
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.proLightFont { font-family: 'prolight'}
.proHeavyFont { font-family: 'proHeavy'}